body {
  background-image: url("./images/stars.jpg");
  background-size: cover;
}

#my_accordion {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem yellow,
    0 0 0.1rem yellow, 0 0 0.5rem yellow, inset 0 0 0.8rem yellow;
}

/*#bc13fe*/
#my_title {
  text-align: center;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px yellow;
}

#my_title > h1 {
  font-size: 5rem;
  letter-spacing: 5px;
}

#my_title > h3 {
  line-height: 0.1;
  font-size: 2rem;
  letter-spacing: 2px;
}
